<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Skills - Ismail Bin Mujeeb</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <main>
        <div class="form">
            <form action="/skill/update/<%= skill._id %>" method="post">
                <input type="text" placeholder="Skill Name" name="skill_name" value="<%= skill.skill_name %>" required>
                <select name="skill_level" required>
                    <option value="Beginner" <%=skill.skill_level==='Beginner' ? 'selected' : '' %>>Beginner</option>
                    <option value="Intermediate" <%=skill.skill_level==='Intermediate' ? 'selected' : '' %>>Intermediate
                    </option>
                    <option value="Advanced" <%=skill.skill_level==='Advanced' ? 'selected' : '' %>>Advanced</option>
                </select>
                <input type="text" placeholder="Skill Details" name="skill_details" value="<%= skill.skill_details %>"
                    required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>

</body>

</html>